/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #222222;
$link-color: #577590;
$theme-orange: #CF5C36;
$theme-grey: #999999;
$chead-color: #0D3B66;

/*-- scss:rules --*/
ul li { padding: 7px 0px; }

.high {
    color: $theme-orange;
    font-weight: bold;
}

.under {
    color: $theme-grey;
}

.ending {
    vertical-align: middle;
    text-align: center;
}

.chead {
    color: $chead-color;
    font-weight: bold;
    font-size: larger;
}

.center-xy {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 25%;
          -ms-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
}

.center-y {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
}

.center-x {
          margin: 0;
          position: absolute;
          left: 25%;
          -ms-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
}

.sm-font{
  font-size: smaller;
}